@import "vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}



body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0;
}

p {
	margin: 0 0 1em 0;
}

img {
	max-width: 100%;	
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.link {
	color: $accent;
	font-weight: normal;
	cursor: pointer;
	font-size: 15px;
	line-height: 1;
	text-decoration: none;
	border-bottom: 1px dashed $accent;
}

.button {
	background-image: -moz-linear-gradient( 3deg, rgb(88,189,235) 0%, rgb(40,157,210) 100%);
	background-image: -webkit-linear-gradient( 3deg, rgb(88,189,235) 0%, rgb(40,157,210) 100%);
	background-image: -ms-linear-gradient( 3deg, rgb(88,189,235) 0%, rgb(40,157,210) 100%);
	box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	color: #fff;
	padding: 15px 20px;
	min-width: 188px;
	border: 0;
	outline: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-image: -moz-linear-gradient( 3deg, rgb(40,157,210) 0%, rgb(88,189,235) 100%);
		background-image: -webkit-linear-gradient( 3deg, rgb(40,157,210) 0%, rgb(88,189,235) 100%);
		background-image: -ms-linear-gradient( 3deg, rgb(40,157,210) 0%, rgb(88,189,235) 100%);
	}

	.inverse & {
		background-image: -moz-linear-gradient( 3deg, rgb(254,254,254) 0%, rgb(226,226,226) 100%);
		background-image: -webkit-linear-gradient( 3deg, rgb(254,254,254) 0%, rgb(226,226,226) 100%);
		background-image: -ms-linear-gradient( 3deg, rgb(254,254,254) 0%, rgb(226,226,226) 100%);
		color: $default_text_color;		  

		&:hover {
			background-image: -moz-linear-gradient( 3deg, rgb(226,226,226) 0%, rgb(254,254,254) 100%);
			background-image: -webkit-linear-gradient( 3deg, rgb(226,226,226) 0%, rgb(254,254,254) 100%);
			background-image: -ms-linear-gradient( 3deg, rgb(226,226,226) 0%, rgb(254,254,254) 100%);
		}
	}
}

.block {
	display: inline-block;
	padding: 30px 60px;
	background-color: #fff;
	text-align: center;

	.inverse & {
		background-color: transparent;
		padding: 40px 30px;
	}

	&-border {
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.section-right &-border {
		background-image: url('../img/border-right.png');
	}

	.section-left &-border {
		background-image: url('../img/border-left.png');
	}

	&-main-title {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
	}

	&-title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 30px;
	}

	.phone {
		margin-left: 20px;
	}

	.button {
		margin-left: 36px;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;

	font-weight: 500;
	line-height: 1.2;

	li {
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.inverse {
	color: #fff;
}

.container {
	position: relative;
}

.owl-carousel {
	.owl {
		&-prev, &-next {
			position: absolute;
			top: 50%;
			width: 40px;
			height: 40px;
			background-color: #e2e4eb;
			text-align: center;
			line-height: 40px;
			margin-top: -20px;
			border: 0;
			outline: 0;

			&:before {
				font-family: 'FontAwesome';
				font-size: 30px;
				display: block;	
				color: $accent;
			}
		}

		&-prev {
			left: 0px;
			&:before{
				content: "\f104";
			}
		}

		&-next {
			right: 0px;
			&::before {
				content: "\f105";
			}
		}
	}
}

.input, .textarea {
	font-size: 13px;
	color: $default_text_color;
	border: 0;
	border-bottom: 2px solid #9a9a9a;
	outline: 0;
	padding: 0px 20px;
	height: 43px;
	line-height: 43px;
	width: 170px;
	background-color: transparent;
	text-align: center;

	.inverse & {
		color: #115b7e;
		border-color: #fff;
	}
	
	&.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
		display: none;
		color: red;
	}

	&::-webkit-input-placeholder {
		color: #868585;
		opacity: 1;
	}
	
	&::-moz-placeholder {
		color: #868585;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
		color: #868585;
		opacity: 1;
	}

	.inverse &::-webkit-input-placeholder {
		color: #115b7e;
	}
	
	.inverse &::-moz-placeholder {
		color: #115b7e;
	}
	
	.inverse &:-ms-input-placeholder {
		color: #115b7e;
	}

	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.selectize-control.single {

	.selectize-input {
		cursor: pointer;
		box-shadow: none;
		border-radius: 0;
		border: 0;
		border-bottom: 2px solid $accent;
		color: $default_text_color;

		input {
			cursor: pointer;
		}
	}

	.selectize-dropdown [data-selectable] .highlight {
		border-radius: 0;
		background: transparent;
	}

	.item {
		border: 0;
		background-color: #fff;
		padding: 0;
		margin: 0;
	}
}

.modal {
	position: fixed;
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.7);

	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		// border-width: 4px;
		// border-color: $blue;
		// border-style: solid;
		box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.26);
		width: 500px;
		max-width: 100%;
		max-height: 100vh;
		overflow: auto;
		padding: 36px;	  
	}

	&-title {
		font-size: 24px;
		line-height: 1.2;
		text-align: center;
		font-weight: bold;	
		margin-bottom: 15px;  
	}

	&-close {
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;

		&:before {
			content: "\f00d";
			font-family: FontAwesome;
			color: #a5a7ac;
			font-size: 25px;
			font-style: normal;
		}
		
	}

	.input {
		margin-bottom: 7px;
		width: 100%;
	}

	.button {
		display: block;
		margin: 15px auto 0 auto;
	}

	&-more {
		.modal-content {
			width: 950px;
			display: flex;
			flex-flow: row-reverse;
			font-size: 14px;
			line-height: 22px;
		}

		.price {
			color: $accent;
			font-size: 17px;
			font-weight: 900;
		}

		.input {
			border-color: #000;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			display: block;

			&::-webkit-input-placeholder {
				color: #a5a7ac;
			}
			
			&::-moz-placeholder {
				color: #a5a7ac;
			}
			
			&:-ms-input-placeholder {
				color: #a5a7ac;
			}

			&.error::-webkit-input-placeholder {
				color: red;
			}
			
			&.error::-moz-placeholder {
				color: red;
			}
			
			&.error:-ms-input-placeholder {
				color: red;
			}
		}

		.selectize-control.single {
			width: 80%;
			margin-left: auto;
			margin-right: auto;

			.selectize-input {
				border-color: #000;

				input {
					color: #a5a7ac;
				}

				.item {
					color: $default_text_color;
				}
			}
		} 

		&-left {
			width: 40%;
			flex-shrink: 0;
			margin-right: 30px;
		}

		&-image {
			border: 1px solid rgb(226, 228, 235);
			margin-bottom: 20px;
			padding: 30px 10px;
			text-align: center;
		}

		&-row {
			display: flex;
			margin-bottom: 20px;
		}

		&-title {
			font-family: Comforta;
			font-weight: bold;
			text-decoration: underline;
			font-size: 20px;		
			color: $accent;	
			margin-bottom: 25px;
		}
		
		&-form {
			text-align: center;
			border: 1px solid $accent;
			padding: 20px 10px;
			width: 250px;
			flex-shrink: 0;
			margin-left: 15px;

			&-title {
				font-family: Comforta;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 10px;
			}
		}

		&-info {
			border: 1px solid $accent;
			margin-top: 30px;
			padding: 10px 20px;
		}
	}
}

.hamburger {
    background-color: $accent;
    padding: 10px;
    line-height: 0;
    
    &-box {
        width: 30px;
    }

    &-inner {
        &, &:after, &:before {            
            border-radius: 0;
            width: 100%;
            height: 2px;        
        }

        & {
            margin-top: -1px;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: -7px;
        }
    }
}

.rect {
	border-width: 7px;
	border-color: rgb(226, 228, 235);
	border-style: solid;
	min-height: 200px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	margin-bottom: 30px;
	  
	&-title {
		font-family: Comforta;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}

	img {
		margin-bottom: 20px;
	}
}

.item {
	border: 1px solid rgb(235, 235, 235);
	background-color: rgb(247, 247, 247);
	padding: 20px 30px 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: column;

	&-title {
		font-family: Comforta;
		font-weight: bold;
		font-size: 20px;
		text-decoration: underline;
		margin-bottom: 30px;
	}

	&-image {
		margin-bottom: 30px;
	}

	&-content {
		margin-bottom: 25px;
		text-align: left;
		flex-grow: 1;

		b {
			font-weight: 600;
		}

		&-row {
			display: flex;
		}

		&-col {
			&:first-child {
				margin-right: 5px;
			}
		}

	}
}